# OpenOCD配置文件

# source [find interface/stlink.cfg]
source [find interface/cmsis-dap.cfg]
# transport select swd # hla_swd
transport select jtag
adapter speed 8000
source [find target/stm32f4x.cfg]
reset_config srst_only